<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link href="src/output.css" rel="stylesheet">
      <link rel="icon" type="image/png" href="src/img/Cosmo_Logo_v1.svg">
      <script type="module" src="src/main.js"></script>

      <!-- Space Grotesk -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

      <!-- Raleway -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">

      <!-- GSAP -->
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>

      <!-- Vue-->
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body class="bg-gray">
  <!-- Navigation -->
  <nav class="fixed top-0 w-full bg-blue z-40">
    <div class="mx-auto max-w-8xl px-2 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-16">
        <!-- Logo -->
        <a href="#home" class="p-4"><img src="../src/img/Cosmo_Logo_v1.svg" class="w-8"></a>

        <!-- Navigation items (Desktop) -->
        <div class="hidden sm:flex sm:space-x-4">
          <a href="#video" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-medium text-white">Dashboard</a>
          <a href="#team" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-blue-700 hover:text-white">The Idea</a>
          <a href="#idea" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-blue-700 hover:text-white">The Team</a>
          <a href="#contact" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-blue-700 hover:text-white">Contact</a>
        </div>

        <!-- Mobile menu button -->
        <div class="sm:hidden mr-6">
          <button id="menu-button" type="button"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>

            <!-- Opened Menu SVG -->
            <svg id="menu-open-icon" class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Close Menu SVG -->
            <svg id="menu-close-icon" class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu -->
    <div class="hidden sm:hidden bg-blue w-full" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <a href="#video" class="block rounded-md px-3 py-2 text-base font-medium text-white">Dashboard</a>
        <a href="#team" class="block rounded-md px-3 py-2 text-base font-medium text-white">The Idea</a>
        <a href="#idea" class="block rounded-md px-3 py-2 text-base font-medium text-white">The Team</a>
        <a href="#contact" class="block rounded-md px-3 py-2 text-base font-medium text-white">Contact</a>
      </div>
    </div>
  </nav>


    <!-- SECTIONS -->
    <!-- Video Section-->
    <section id="video" class="mt-16">
      <div class="relative">
        <video muted autoplay loop src="src/img/video_temp.mp4" class="w-full"></video>
        <!-- Arrow which appears after a while -->
        <a href="#idea"><img id="scroll-arrow" src="src/img/Cosmo_pfeil_blau.png" 
        class="rotate-90 absolute left-20 arrow_image" style="bottom: 12%; width: 4%"></a>
      </div>
    </section>

    <!-- The Idea -->
    <section id="idea" class="scroll-mt-16 pb-32">      

      <div class="bg-gray w-full h-full">
        <h1 class="text-3xl md:text-6xl font-bold space-grotesk pl-12 pt-16 pb-8">Shaping the future of Solar Farms</h1>

        <div class="flex mb-15">

          <!-- Left Image-->
          <div class="relative w-1/2 ml-12 mr-5">
            <img src="src/img/soiling_BW_cropped.png" class="w-full img-shadow-xl" alt="Dew on Solar Panel">
            <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-between p-4 text-white">

              <div>
                <div class="flex gap-x-2 mb-2">
                  <img src="src/img/arrowSVG.svg" class="w-6 h-6" alt="Arrow">
                  <p class="text-lg font-semibold">Dirt</p>
                </div>
                <div class="flex gap-x-2">
                  <img src="src/img/arrowSVG.svg" class="w-6 h-6 -rotate-90" alt="Arrow">
                  <p class="text-lg font-semibold">Efficiency</p>
                </div>
              </div>

              <p class="p-1 text-lg">
                <b>Soiling Prevention.</b> Ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirm
              </p>
            </div>
          </div>
          
          <!-- Right Image-->
          <div class="relative w-1/2 mr-12 ml-5">
            <img src="src/img/dew_BW.png" class="w-full img-shadow-xl" alt="Soiling on Solar Panel">
            <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-between p-4 text-white">
              <div class="p-3">
                <p class="text-lg">Up to</p>
                <p class="text-6xl font-bold">350 ml / m²</p>
              </div>
              <p class="p-1 pl-3 text-lg">
                <b>Dew Harvesting.</b> Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
              </p>
            </div>
          </div>
          
        </div>

        <div class="flex items-center justify-center w-auto h-16 mx-12 mt-6 bg-blue text-white">
          <p class="text-xl font-bold">LESS SOILING  > > >  MORE ENERGY</p>
        </div>


        <h1 class="text-3xl md:text-6xl font-bold space-grotesk pl-12 mt-32 pb-6">How does it even work?</h1>

        <div class="grid gap-10 mx-10">
          <!-- Section 1 -->
          <div class="grid grid-cols-12 items-center gap-x-10 my-20 mx-15">
            <img src="src/img/graphic1.png" class="col-span-8 img-shadow-xl" alt="Graphic that explains soiling 1">
            <p class="col-span-4 railway text-[2.0vw] ml-8">
              <b>Moving out.</b> At dusk the Panel moves out to protect the Solar Panel. Lorem ipsum dolor sit amet, consetetur. 
              At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
              Lorem ipsum dolor sit amet.
            </p>
          </div>
        
          <!-- Section 2 -->
          <div class="grid grid-cols-12 items-center gap-x-10 my-20 mx-15">
            <p class="col-span-4 railway text-[2.0vw]">
              <b>Dew Formation.</b> At dusk the Panel moves out to protect the Solar Panel. Lorem ipsum dolor sit amet, consetetur. 
              At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
              Lorem ipsum dolor sit amet.
            </p>
            <img src="src/img/graphic2.png" class="col-span-8 img-shadow-xl" alt="Graphic that explains soiling 2">
          </div>
        
          <!-- Section 3 -->
          <div class="grid grid-cols-12 items-center gap-x-10 my-20 mx-15">
            <img src="src/img/graphic3.png" class="col-span-8 img-shadow-xl" alt="Graphic that explains soiling 3">
            <p class="col-span-4 railway text-[2.0vw]">
              <b>Moving out.</b> At dusk the Panel moves out to protect the Solar Panel. Lorem ipsum dolor sit amet, consetetur. 
              At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
              Lorem ipsum dolor sit amet.
            </p>
          </div>
        </div>
        
      </div>
    </section>


   <!-- Team Section -->
   <section id="team" class="scroll-mt-16">
    <div class="bg-gray w-full">
      <!-- Heading Text-->
      <div class="pt-6 pl-10">
        <h1 class="font-bold text-3xl md:text-6xl space-grotesk">Team</h1>
        <p class="railway text-xl">Meet the team that makes it all happen</p>
      </div>
        
      <!-- Team Horizontal Scroller -->
      <div class="flex justify-center mt-6 ml-4">
        <div class="flex bg-gray w-full h-1/2 overflow-x-scroll snap-x flex-nowrap">

          <!-- Card [Name] -->
          <div class="shrink-0 flex-col bg-blue-300 p-6 m-6 rounded-md team_card">
            <div class="text-white">
              <img src="https://dummyimage.com/300x400" alt="Team Member" class="pb-5">
              <p class="text-2xl">Name</p>
              <p class="text-lg">Role</p> 
            </div>
          </div>

          <!-- Card [Name] -->
          <div class="shrink-0 flex-col bg-blue-300 p-6 m-6 rounded-md team_card">
            <div class="text-white">
              <img src="https://dummyimage.com/300x400" alt="Team Member" class="pb-5">
              <p class="text-2xl">Name</p>
              <p class="text-lg">Role</p> 
            </div>
          </div>

          <!-- Card [Name] -->
          <div class="shrink-0 flex-col bg-blue-300 p-6 m-6 rounded-md team_card">
            <div class="text-white">
              <img src="https://dummyimage.com/300x400" alt="Team Member" class="pb-5">
              <p class="text-2xl">Name</p>
              <p class="text-lg">Role</p> 
            </div>
          </div>

          <!-- Card [Name] -->
          <div class="shrink-0 flex-col bg-blue-300 p-6 m-6 rounded-md team_card">
            <div class="text-white">
              <img src="https://dummyimage.com/300x400" alt="Team Member" class="pb-5">
              <p class="text-2xl">Name</p>
              <p class="text-lg">Role</p> 
            </div>
          </div>

        </div>
      
      </div>
    </div>
  </section>

<!-- Learn More -->
<section id="learnmore" class="scroll-mt-16">
  <div class="bg-gray w-full pt-10 pb-8">
    
    <!-- Heading Text -->
    <div class="mb-1 md:mb-8 ml-10">
      <h1 class="font-bold text-3xl md:text-6xl space-grotesk">Learn More</h1>
      <p class="railway text-lg md:text-2xl pt-2">We got you covered.</p>
    </div>

    <!-- Card Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 px-5">
      
      <!-- Card -->
      <div class="p-4 rounded-xl news_card">
        <a href="pages/blog_1.html"><img src="src/img/blog_thumbnail_1.avif" alt="Team Member" class="w-full aspect-video object-cover img-shadow-lg"></a>
        <p class="text-2xl mt-8 mb-2 font-medium" href="src/blog_1.html">Aufregende Entwicklungen, eine Ministerin im Anmarsch und Tests an der Westküste Afrikas!</p>
        <p class="text-lg">Es ist schon längst an der Zeit, über die jüngsten Entwicklungen in meinem Unternehmen zu berichten.</p>
      </div>

      <!-- Card -->
      <div class="p-4 rounded-xl news_card">
        <img src="https://dummyimage.com/500x300" alt="Team Member" class="w-full aspect-video object-cover img-shadow-lg">
        <p class="text-2xl mt-4">Name</p>
        <p class="text-lg">Text eines zukünftigen Cosmotaics Artikels</p>
      </div>

      <!-- Card -->
      <div class="p-4 rounded-xl news_card">
        <img src="https://dummyimage.com/500x300" alt="Team Member" class="w-full aspect-video object-cover img-shadow-lg">
        <p class="text-2xl mt-4">Name</p>
        <p class="text-lg">Text eines zukünftigen Cosmotaics Artikels</p>
      </div>

      <!--
      <div style="padding: 16px; border-radius: 12px;">
        <img src="https://dummyimage.com/500x300" alt="Team Member" style="width: 100%; aspect-ratio: 16 / 9; object-fit: cover;" class="img-shadow-lg">
        <p style="font-size: 1.5rem; margin-top: 16px; margin-bottom: 4px;">Name</p>
        <p style="font-size: 1.125rem; margin: 0;">Text eines zukünftigen Cosmotaics Artikels</p>
      </div>
    -->

      
    </div>

  </div>
</section>

    <!-- Contact-->
    <section id="contact" class="scroll-mt-16">
      <div class="bg-gray w-full h-full pt-16">
        <h1 class=" text-6xl font-bold space-grotesk text-center p-4">Contact</h1>
        <div class="flex justify-center">

          <!-- Contact Form -->
          <div class="bg-gray w-full md:w-1/2 p-10" id="app">
            <form action=""  @submit.prevent="submitForm">
              <div class="mb-4">
                <label for="name" class="blocktext-sm font-medium mb-2">Name</label>
                <input type="text" name="name" id="name" class="w-full p-2 rounded-md bg-blue-300 text-white" v-model="name">
              </div>
              <div class="mb-4">
                <label for="email" class="blocktext-sm font-medium mb-2">Email</label>
                <input type="email" name="email" id="email" class="w-full p-2 rounded-md bg-blue-300 text-white" v-model="email">
              </div>
              <div class="mb-4">
                <label for="message" class="blocktext-sm font-medium mb-2">Message</label>
                <textarea name="message" id="message" cols="30" rows="10"
                  class="w-full p-2 rounded-md bg-blue-300 text-white" v-model="message"></textarea>
              </div>
              <button type="submit" class="bg-blue-300 p-2 rounded-md float-right">Submit</button>
              <p class=""> {{ status }} </p>
            </form>
          </div>
          
        </div>
      </div>
    </section>

  <!-- Footer -->
    <footer class="relative bg-blue h-16 text-white flex justify-center items-center overflow-hidden">
      <div class="absolute inset-0 bg-footer filter "></div>
      <p class="relative z-10">© 2024 Cosmotaics</p>
    </footer>
  </body>
</html>
